<div>
  <div>
    <h1>
      List of all libraries
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new library
    </h2>

    <form action="/insert_library" method="post">
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <div>
        <label for="spot_id_box">
          Spot
        </label>

        <input type="text" id="spot_id_box" name="query_spot_id">
      </div>

      <button>
        Create library
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Spot
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_libraries.each do |a_library| %>
      <tr>
        <td>
          <%= a_library.id %>
        </td>

        <td>
          <%= a_library.user_id %>
        </td>

        <td>
          <%= a_library.spot_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_library.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_library.updated_at) %> ago
        </td>

        <td>
          <a href="/libraries/<%= a_library.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
