<div>
  <div>
    <h1>
      List of all neighborhoods
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new neighborhood
    </h2>

    <form action="/insert_neighborhood" method="post">
      <div>
        <label for="region_box">
          Region
        </label>

        <input type="text" id="region_box" name="query_region">
      </div>

      <button>
        Create neighborhood
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Region
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_neighborhoods.each do |a_neighborhood| %>
      <tr>
        <td>
          <%= a_neighborhood.id %>
        </td>

        <td>
          <%= a_neighborhood.region %>
        </td>

        <td>
          <%= time_ago_in_words(a_neighborhood.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_neighborhood.updated_at) %> ago
        </td>

        <td>
          <a href="/neighborhoods/<%= a_neighborhood.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
