<div>
  <div>
    <h1>
      List of all categories
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new category
    </h2>

    <form action="/insert_category" method="post">
      <div>
        <input type="checkbox" id="cafe_box" name="query_cafe" value="1">

        <label for="cafe_box">Cafe</label>
      </div>

      <div>
        <input type="checkbox" id="library_box" name="query_library" value="1">

        <label for="library_box">Library</label>
      </div>

      <div>
        <input type="checkbox" id="hotel_box" name="query_hotel" value="1">

        <label for="hotel_box">Hotel</label>
      </div>

      <div>
        <input type="checkbox" id="public_space_box" name="query_public_space" value="1">

        <label for="public_space_box">Public space</label>
      </div>

      <div>
        <input type="checkbox" id="mixed_use_box" name="query_mixed_use" value="1">

        <label for="mixed_use_box">Mixed use</label>
      </div>

      <div>
        <input type="checkbox" id="coworking_box" name="query_coworking" value="1">

        <label for="coworking_box">Coworking</label>
      </div>

      <div>
        <input type="checkbox" id="outdoor_option_box" name="query_outdoor_option" value="1">

        <label for="outdoor_option_box">Outdoor option</label>
      </div>

      <button>
        Create category
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Cafe
        </th>

        <th>
          Library
        </th>

        <th>
          Hotel
        </th>

        <th>
          Public space
        </th>

        <th>
          Mixed use
        </th>

        <th>
          Coworking
        </th>

        <th>
          Outdoor option
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_categories.each do |a_category| %>
      <tr>
        <td>
          <%= a_category.id %>
        </td>

        <td>
          <%= a_category.cafe %>
        </td>

        <td>
          <%= a_category.library %>
        </td>

        <td>
          <%= a_category.hotel %>
        </td>

        <td>
          <%= a_category.public_space %>
        </td>

        <td>
          <%= a_category.mixed_use %>
        </td>

        <td>
          <%= a_category.coworking %>
        </td>

        <td>
          <%= a_category.outdoor_option %>
        </td>

        <td>
          <%= time_ago_in_words(a_category.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_category.updated_at) %> ago
        </td>

        <td>
          <a href="/categories/<%= a_category.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
