<div>
  <div>
    <h1>
      List of all regions
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new region
    </h2>

    <form action="/insert_region" method="post">
      <div>
        <label for="northside_box">
          Northside
        </label>

        <input type="text" id="northside_box" name="query_northside">
      </div>

      <div>
        <label for="southside_box">
          Southside
        </label>

        <input type="text" id="southside_box" name="query_southside">
      </div>

      <div>
        <label for="suburbs_box">
          Suburbs
        </label>

        <input type="text" id="suburbs_box" name="query_suburbs">
      </div>

      <div>
        <label for="downtown_box">
          Downtown
        </label>

        <input type="text" id="downtown_box" name="query_downtown">
      </div>

      <div>
        <label for="westside_box">
          Westside
        </label>

        <input type="text" id="westside_box" name="query_westside">
      </div>

      <button>
        Create region
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Northside
        </th>

        <th>
          Southside
        </th>

        <th>
          Suburbs
        </th>

        <th>
          Downtown
        </th>

        <th>
          Westside
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_regions.each do |a_region| %>
      <tr>
        <td>
          <%= a_region.id %>
        </td>

        <td>
          <%= a_region.northside %>
        </td>

        <td>
          <%= a_region.southside %>
        </td>

        <td>
          <%= a_region.suburbs %>
        </td>

        <td>
          <%= a_region.downtown %>
        </td>

        <td>
          <%= a_region.westside %>
        </td>

        <td>
          <%= time_ago_in_words(a_region.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_region.updated_at) %> ago
        </td>

        <td>
          <a href="/regions/<%= a_region.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
